body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: pink;
    
}
h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
    /* to avoid wraping of h1 content */
    white-space: nowrap;
}
.container{
    /* to put button in center */
text-align: center;
}
.btn{
    padding: 30px 50px;
    background-color: white;
    border: none;
    margin: 10px;
    font-size: 30px;
    /* to have samewidth to all button */
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    background-image:url("images/tom.png");
    background-size: cover;
    color: white;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
    cursor: pointer;
    /* to make first letter capital */
    text-transform: capitalize;

}
.btn:hover{
    color: pink;
}
.btn:active{
    /* to change the size of background image after during click */
    background-size: 105%;
}